.angular-logo {

  height: 35px;
  vertical-align: middle;
}
.fill-remaining-space {
flex: 1 1 auto;
}

img {
  width: 90px;
}

.content {
  width: 100%;
  height: 100vh;
}

h1{
  text-align: center;
  margin-left: 500px;
  position: absolute;
  font-size: 1,5rem;
}

h2{
  text-align: center;
  margin-left: 500px;
  position: absolute;
  font-size: 1,5rem;
}

@media screen and (max-width: 1050px) {
  .display-1 {
    display: none;
  }
}

@media screen and (max-width: 372px) {
.display {
  display: none;
}
}
